@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;700;900&display=swap');

:root {
    /*Fonts*/
    --main-fonts: 'Roboto', sans-serif;
    --title-fonts: 'Oswald', sans-serif;
    /*Colours*/
    --title-colour: #f40082;
    --button-colour: #ffd200;
    --maparea-colour: #3452a5;
    --navyblue: rgb(32, 42, 68);
    /*Dimensions*/
    --close-btn-size: 50px;
}

body {
    background: black;
    font-family: var(--main-fonts);
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

#app {
    margin: 0 auto;
    position: relative;
    width: fit-content;
}

#app svg circle:hover {
    cursor: pointer;
}

#app svg circle:hover + circle.outline {
    animation-duration: 2s;
    animation-name: zoomout;
    animation-iteration-count: infinite;
}

@keyframes zoomout {
    0% {
        r: 17.5;
        opacity: 1;
    }

    75% {
        r: 47.5;
        opacity: 1;
    }

    100% {
        r: 57.5;
        opacity: 0;
    }
}

.modal::after {
    backdrop-filter: blur(3px);
    background: rgba(0, 0, 0, 0.3);
    content: '';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.modal {
    --modal-gap: 90px;
    background: white;
    border-radius: 40px;
    box-shadow: 0px 0px 110px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-column-gap: 29px;
    grid-template-areas: 'title cover' 'content cover' 'button cover';
    grid-template-columns: repeat(2, 1fr);
    margin: var(--modal-gap);
    padding: 71px 104px;
    position: absolute;
    top: 0;
}

.modal p.title {
    color: var(--title-colour);
    font-family: var(--title-fonts);
    font-size: 8rem;
    font-weight: bold;
    line-height: 0.9em;
    margin-bottom: 45px;
    margin-left: calc(-104px + 95px);
    text-transform: uppercase;
}

.modal .content p {
    font-size: 1.125rem;
    line-height: 1.5em;
    padding-bottom: 30px;
}

.modal a.buy {
    align-items: center;
    background: var(--button-colour);
    border-radius: 100px;
    color: black;
    display: flex;
    font-size: 1.5rem;
    font-weight: 900;
    height: 1.5rem;
    justify-content: center;
    line-height: 1.5rem;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    width: fit-content;
}

.modal a.buy:hover {
    background: var(--navyblue);
    color: var(--button-colour);
}

.modal img.cover {
    grid-area: cover;
}

.modal img.close {
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 25px;
    width: var(--close-btn-size);
}

.hide {
    display: none;
}
