:root {
    --bkg-colour: #37B2C3;
}

body {
    background: var(--bkg-colour);
    display: grid;
    grid-template-areas: ". . ."
                        ". app ."
                        ". . .";
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    height: 100vh;
    width: 100vw;
}

#app {
    grid-area: app;
}

svg path.white-key:hover,
svg path.black-key:hover{
    fill: red;
}
