:root {
  --bkg-colour: #37b2c3;
  --white-keys-change: #ffd200;
  --black-keys-change: #f40082;
}

body {
  align-items: center;
  background: var(--bkg-colour);
  border: 0;
  display: grid;
  grid-template-areas:
    ". . ."
    ". app ."
    ". . .";
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  height: 100vh;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100vw;
}

#app {
  grid-area: app;
}

svg path.white-key:hover {
  fill: var(--white-keys-change);
}

svg path.black-key:hover {
  fill: var(--black-keys-change);
}
