@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Courier+Prime:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
    --main-font: 'Roboto', sans-serif;
    --card-font: 'Courier Prime', monospace;
    --signature-font: 'Beth Ellen', cursive;
    --button-background-colour: #7d193e;
    --button-font-colour: #fefefe;
    --background-colour: #fbe6db;
    --border-colour: #e0e0e0;
    --card-height: 413px;
    --card-width: 668px;
    --card-top-margin: 100px;
}

body {
    background: var(--background-colour);
    font-family: var(--main-font);
}

#app {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

#app > .credit-card-cover  {
    font-family: var(--card-font);
    font-weight: bold;
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
}

#app > .credit-card-cover .front {
    background: url('images/cc__discover--front.png');
    opacity: 1;
    z-index: 2;
}

#app > .credit-card-cover .back {
    background: url('images/cc__discover--back.png');
    opacity: 0;
    transform: rotateY(180deg);
    z-index: 1;
}

#app > .credit-card-cover.flip .front {
    opacity: 0;
    transform: rotateY(180deg);
    z-index: 1;
}

#app > .credit-card-cover.flip .back {
    opacity: 1;
    transform: rotateY(0deg);
    z-index: 2;
}

#app > .credit-card-cover .front, 
#app > .credit-card-cover .back {
    background-size: var(--card-width) var(--card-height);
    height: var(--card-height);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: var(--card-top-margin);
    transition: opacity 0.4s ease-out, transform 0.8s ease;
    width: var(--card-width);
}

#app > .credit-card-cover .front .card-number .shadow, 
#app > .credit-card-cover .front .card-number .emboss {
    font-size: 2.25rem;
    left: 118px;
    position: absolute;
    top: 184px;
}

#app > .credit-card-cover .front .card-number .emboss,  
#app > .credit-card-cover .front .holder .emboss, 
#app > .credit-card-cover .front .expiration-date .emboss {
    background: linear-gradient(180deg, #FFFFFF 15.34%, #DBDBDB 21.24%, #FFFFFF 37.13%, rgba(188, 203, 217, 0.68) 48.94%, rgba(255, 255, 255, 0.830204) 58.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 50px;
}

#app > .credit-card-cover .front .card-number .shadow, 
#app > .credit-card-cover .front .holder .shadow, 
#app > .credit-card-cover .front .expiration-date .shadow {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.65);
}


#app > .credit-card-cover .front .holder .shadow, 
#app > .credit-card-cover .front .holder .emboss {
    font-size: 1.25rem;
    left: 118px;
    position: absolute;
    text-transform: uppercase;
    top: 280px;
}

#app > .credit-card-cover .front .expiration-date .shadow, 
#app > .credit-card-cover .front .expiration-date .emboss {
    font-size: 1.25rem;
    left: 355px;
    position: absolute;
    top: 246px;
}

#app > .credit-card-cover .back .signature {
    font-family: var(--signature-font);
    font-size: 2rem;
    left: 105px;
    position: absolute;
    top: 142px;
}

#app > .credit-card-cover .back .cvv {
    position: absolute;
    right: 110px;
    top: 170px;
}

#app > .credit-card-form {
    background: white;
    box-shadow: 0px 9px 24px rgba(0, 0, 0, 0.25), 0px 0px 95px #f5c7bd;
    border-radius: 30px;
    width: fit-content;
}

#app > .credit-card-form {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: calc(var(--card-height) / 2 + var(--card-top-margin));
    padding: 60px;
    padding-top: calc(var(--card-height) / 2);
}

#app > .credit-card-form input, 
#app > .credit-card-form select {
    border: 2px solid var(--border-colour);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.25rem;
    padding: 21px 27px;
    width: 100%;
}

#app > .credit-card-form select {
    appearance: none;
    background: url('images/arrow.svg') 95% center no-repeat;
}

#app > .credit-card-form .form-row {
    display: flex;
    gap: 35px;
    justify-content: space-between;
}

#app > .credit-card-form .form-field {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#app > .credit-card-form .form-field.field2 {
    flex: 2;
}

#app > .credit-card-form .form-field-date {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#app > .credit-card-form .form-row a {
    background: var(--button-background-colour);
    border-radius: 12px;
    color: var(--button-font-colour);
    font-size: 1.25rem;
    font-weight: 700;
    padding: 21px 0;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
