[submodule "Challenge14/lib/lazydom"]
	path = Challenge14/lib/lazydom
    url = https://github.com/jimmy09140456/lazydom.git
[submodule "Challenge15/lib/lazydom"]
	path = Challenge15/lib/lazydom
    url = https://github.com/jimmy09140456/lazydom.git
