@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --main-font: 'Poppins', sans-serif;
    /*Colours*/
    --bkg: #EFF0F6;
    /*Dimension*/
    --panel_width: 375px;
    --panel_height: 812px;
    --top_margin: 106px;
    --gap_in_panel: 50px;
    /*Menu items*/
    --menu-img-size: 148px;
    --button-bkg: #6B00F5;
    --button-in-cart: #000000;
}

body {
    background: url('./images/bg__left.svg') left center no-repeat,
        url('./images/bg__btm-right.svg') right bottom no-repeat,
        var(--bkg) url('./images/bg__top-right.svg') right top no-repeat;

    min-width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: var(--main-font);
}

p {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    column-gap: var(--gap_in_panel);
    grid-template-columns: auto var(--panel_width) var(--panel_width) auto;
    grid-template-rows: auto var(--panel_height) auto;
    height: 100vh;
}

.panel {
    background: #FFFFFF;
    box-shadow: 0px 0px 70px #C7CBE3;
    border-radius: 25px;
    overflow-y: scroll;
    scrollbar-width: none; /*Hacks for Firefox*/
}

.panel.menu {
    grid-column: 2;
    grid-row: 2;
}

.panel.cart {
    grid-column: 3;
    grid-row: 2;
}

.panel h1 {
    padding: 50px 0 20px 38px;
    margin: 0;
}

.panel ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.panel ul.menu li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-left: 15px;
    padding-right: 30px;
    position: relative;
}

.panel ul.menu li:nth-child(4n + 1):before {
    --bkg-colour: rgba(122, 179, 243, 0.2);
}
.panel ul.menu li:nth-child(4n + 2):before {
    --bkg-colour: rgba(233, 121, 178, 0.2);
}
.panel ul.menu li:nth-child(4n + 3):before {
    --bkg-colour: rgba(215, 215, 249, 0.2);
}
.panel ul.menu li:nth-child(4n):before {
    --bkg-colour: rgba(120, 247, 187, 0.2);
}

.panel ul.menu li:before {
    background: var(--bkg-colour);
    border-radius: 20px 0 0 20px;
    content: '';
    display: block;
    height: calc(100% - 30px);
    left: 30px;
    position: absolute;
    top: 15px;
    width: calc(100% - 30px);
    z-index: 1;
}

.panel ul.menu li .plate {
    z-index: 2;
}

.panel ul.menu li .plate img.plate {
    width: var(--menu-img-size);
    height: var(--menu-img-size);
}

.panel ul.menu .content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    padding-top: 40px;
    z-index: 2;
}

.panel ul.menu .content p.menu-item {
    font-size: 18px;
    line-height: 20px;
}

p.price {
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
}

.menu .content p.price {
}

.menu .content button {
    align-items: center;
    background: var(--button-bkg);
    border: 0;
    border-radius: 20px;
    color: white;
    display: flex;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: bold;
    gap: 10px;
    justify-content: center;
    line-height: 24px;
    padding: 4px 18px;
}

.menu .content button.in-cart {
    background: var(--button-in-cart);
}

.panel h1 + p.empty {
    padding: 0 0 20px 38px;
}

.hide {
    display: none;
}
