@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

:root {
    /*Fonts*/
    --main-fonts: 'Roboto Mono', monospace;
    /*Colours*/
    --main-colour: #ffb800;
}

body {
    font-family: var(--main-fonts);
}

#ready p.title {
    font-size: 2.7rem;
    font-weight: bold;
}
