@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    /*Colour*/
    --pink: #ff00c7;
    --fonts: 'Roboto Mono', monospace;
    /*Dimensions*/
    --featured-size: 615px;
    --thumbnails-size: 173px;
    --thumb-border: 10px;
}

body {
    font-family: var(--fonts);
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

#app {
    display: grid;
    grid-template-areas: '.' 'img' 'cap' '.' 'thm';
    grid-template-rows: 1fr var(--featured-size) 2rem 1fr var(--thumbnails-size) 27px;
    height: 100%;
    justify-items: center;
}

img.featured {
    grid-area: img;
    height: 100%;
}

p.caption {
    grid-area: cap;
    margin: 0;
    font-size: 1rem;
    line-height: 2rem;
}

.thumbnails {
    display: flex;
    flex-direction: row;
    gap: 27px;
    grid-area: thm;
    list-style: none;
    margin: 0;
    padding: 0;
}

.thumbnails input[type='radio'] {
    display: none;
}

.thumbnails img {
    height: var(--thumbnails-size);
    object-fit: cover;
    width: var(--thumbnails-size);
}

.thumbnails input[type='radio']:checked + img {
    border: var(--thumb-border) solid var(--pink);
    height: calc(var(--thumbnails-size) - var(--thumb-border) * 2);
    width: calc(var(--thumbnails-size) - var(--thumb-border) * 2);
}

#app img.screenbtn.left,
#app img.screenbtn.right {
    background: var(--pink);
    height: 100vh;
    opacity: 0.3;
    padding: 0 28px;
    position: absolute;
    top: 0;
    width: 42px;
}

#app img.screenbtn.left {
    left: 0;
}

#app img.screenbtn.right {
    right: 0;
    transform: scaleX(-1);
}
