@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap');

:root {
    --font-family: 'Source Sans Pro', sans-serif;
    /*Colours*/
    --bkg: #262529;
    --dollar: #ffc700;
    --range-thumb: #ea346f;
    --range-th-rgba: rgba(234, 52, 111, 0.2);
    --range-slider: #4d4c53;
    --buy-btn: #333139;
    /*Dimensions*/
    --app-height: 577px;
    --app-width: 840px;
    --slider-height: 14px;
    --slider-width: 700px;
    --btn-height: 109px;
    --btn-width: 333px;
    --knob-size: 50px;
}

body {
    align-items: center;
    background: var(--bkg);
    display: grid;
    font-family: var(--font-family);
    height: 100vh;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100vw;
}

#app {
    align-items: center;
    box-shadow: 0px 0px 250px #000000;
    border-radius: 20px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    padding: 50px 55px 70px;
}

.amount {
    color: var(--dollar);
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
}

.amount sup {
    font-size: 4rem;
    font-weight: 900;
}

input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    background: var(--range-slider);
    border-radius: 10px;
    height: var(--slider-height);
    /*outline: none;*/
    margin: 70px 0;
    width: var(--slider-width);
}

input[type='range']::-moz-range-progress {
    background: var(--range-thumb);
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 2px 25px var(--range-thumb);
    height: var(--slider-height);
}

input[type='range']::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: var(--range-thumb);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: var(--knob-size);
    outline: calc(var(--knob-size) * 0.3) solid var(--range-th-rgba);
    width: var(--knob-size);
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: var(--range-thumb);
    border-radius: 50%;
    cursor: pointer;
    height: var(--knob-size);
    outline: calc(var(--knob-size) * 0.3) solid var(--range-th-rgba);
    width: var(--knob-size);
}

button.buy {
    background: var(--buy-btn);
    border: 0;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: calc(2rem * 0.15);
    padding: 35px 53px;
    text-transform: uppercase;
}

button.buy:hover {
    background: white;
    color: var(--buty-btn);
}
