@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Roboto+Mono:wght@400;700&display=swap');

:root {
    --amount-fonts: 'Inter', sans-serif;
    --main-fonts: 'Roboto Mono', monospace;
    /* Colours */
    --mainf-colour: #333333;
    --page-bkg: #f6f6f3;
    --card-bkg: #ffffff;
    --page-bottom: #f7f7f7;
    --sep-border-colour: #dedede;
    --dashed-colour: #b3b3b3;
    --percentage-bkg: #eeeeee;
    --percentage-txt: #60c1b6;
    --btn-colour: #ed7861;
    /* Fonts */
    --label-fontsize: 0.875rem;
    --primary-fontsize: 5rem;
    --dollar-fontsize: 3rem;
    --secondary-fontsize: 4rem;
    --btn-fsize: 1.5rem;
    /* Dimensions */
    --label-icon-size: 2.75rem;
    --page-border-rad: 20px;
    --btn-border-rad: 16px;
}

body {
    align-items: center;
    background: var(--page-bkg);
    color: var(--mainf-colour);
    display: grid;
    font-family: var(--main-fonts);
    height: 100vh;
    justify-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
}

#app {
    background: var(--card-bkg);
    border-radius: var(--page-border-rad);
    box-shadow: 0px 0px 44px rgba(148, 146, 120, 0.23);
    display: grid;
    grid-template-rows: repeat(4, auto);
    text-align: center;
}

.tip-amount {
    padding: 50px 0 30px 0;
}

.tip-amount,
.total-per-person {
    align-items: center;
    display: grid;
    font-family: var(--amount-fonts);
    font-size: var(--primary-fontsize);
    font-weight: 700;
    grid-template-columns: repeat(5, 1fr);
    line-height: var(--primary-fontsize);
}

.total-per-person {
    padding: 26px 0 43px 0;
}

.total-per-person {
    border-top: 1px solid var(--sep-border-colour);
}

.tip-amount .label,
.total-per-person .label {
    font-family: var(--main-fonts);
    font-size: var(--label-fontsize);
    grid-column: 1 / span 2;
    padding-right: 2rem;
    text-align: right;
}

.tip-amount span:nth-child(2),
.total-per-person span:nth-child(2) {
    grid-column: 3 / span 3;
    text-align: left;
}

.tip-amount sub,
.total-per-person sub {
    font-size: var(--dollar-fontsize);
    font-weight: 800;
}

.input-number {
    background: var(--page-bottom);
    border-radius: var(--page-border-rad) var(--page-border-rad) 0 0;
    display: grid;
    font-size: var(--secondary-fontsize);
    font-weight: bold;
    grid-template-areas:
        'a b'
        'c d';
}

.input-number .bill-label,
.input-number .people-label {
    font-size: var(--label-fontsize);
    font-weight: bold;
    padding: 0.5em 0 2rem 0;
}

.input-number .bill-amount,
.input-number .bill-label {
    border-right: 1px solid var(--sep-border-colour);
}

.input-number .bill-amount .bill-amount-warp,
.input-number .people-number .people-number-warp {
    border-bottom: 3px dotted var(--dashed-colour);
    margin: 0.5em auto 0 auto;
    width: fit-content;
}

.input-number .bill-amount .bill-amount-warp span,
.input-number .people-number .people-number-warp span {
    padding: 0 5rem 0 2rem;
    white-space: nowarp;
}

.input-number .bill-amount {
    grid-area: a;
}

.input-number .bill-label {
    grid-area: c;
}

.input-number .people-number {
    grid-area: b;
}

.input-number .people-label {
    grid-area: d;
}

.percentage {
    background: var(--percentage-bkg);
    border-top: 1px solid var(--sep-border-colour);
    border-bottom: 1px solid var(--sep-border-colour);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

input[name='percentage'] {
    display: none;
}

input[name='percentage'] + p {
    background: white;
    border-radius: var(--btn-border-rad);
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
    color: var(--percentage-txt);
    font-size: var(--btn-fsize);
    font-weight: bold;
    padding: 18px 45px;
    width: fit-content;
}

input[name='percentage']:checked + p {
    background: var(--percentage-txt);
    color: white;
}

.calculate {
    background: var(--page-bottom);
    border-radius: 0 0 var(--page-border-rad) var(--page-border-rad);
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(4, 1fr);
    padding: 35px;
}

.calculate button {
    background: var(--btn-colour);
    border-radius: var(--btn-border-rad);
    border: 0;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
    color: white;
    font-family: var(--main-fonts);
    font-size: var(--btn-fsize);
    font-weight: 700;
    grid-column: 3 / span 2;
    padding: 18px 98px;
}
