@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;700;900&display=swap');

:root {
    /*Fonts*/
    --main-fonts: 'Roboto', sans-serif;
    --title-fonts: 'Oswald', sans-serif;
    /*Colours*/
    --background-colour: #fbfbfb;
    --highlight-colour: #ffd200;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(8,1fr);
}

.calendar img.left.btn {
    transform: scaleX(-1);
}

.calendar p.month {
    grid-column: 4/7;
}

.calendar p.day.today {
    background: lightsalmon;
}
