@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;700;900&display=swap');

:root {
    /*Fonts*/
    --main-fonts: 'Roboto', sans-serif;
    --title-fonts: 'Oswald', sans-serif;
    /*Colours*/
    --background-colour: #fbfbfb;
    --highlight-colour: #ffd200;
}
