@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

:root {
    --font-family: 'Open Sans', sans-serif;
    /*Colours*/
    --yellow: #ffdd00;
    --lightgray: #f0f0f0;
    /*Dimension*/
    --page-width: 954px;
    --para-height: 800px;
    --title-height: 125px;
    --qicon-height: 130px;
    --qicon-width: 70px;
    --ticon-height: 25px;
    --ticon-width: 24px;
    /*Default scop*/
    --ticon: url('images/chevron.svg');
    --qicon: url('images/question-1.svg');
    --page-bkg: var(--lightgray);
    --full-visible: 0;
}

.expand {
    --ticon: url('images/cross.svg');
    --qicon: url('images/question-2.svg');
    --page-bkg: var(--yellow);
    --full-visible: 999999px;
}

body {
    align-items: center;
    display: flex;
    font-family: var(--font-family);
    min-height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 10rem 0;
    width: 100%;
}

ul.question {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 75px;
    margin: 0;
    padding: 0;
    padding-left: 56px; /* Offset to the total width for centering on the screen */
}

ul.question li {
    cursor: pointer;
    list-style: none;
}

ul.question li .title {
    transition: 1s;
}

ul.question li:hover .title {
    background: var(--yellow);
}

.title {
    background: var(--page-bkg);
    font-size: 1.5rem;
    font-weight: 800;
    height: var(--title-height);
    position: relative;
    width: var(--page-width);
}

.front.box {
    display: grid;
    grid-template-columns: 100px 1fr;
    height: 100%;
    position: absolute;
    left: -55px;
    top: -16px;
    width: var(--page-width);
}

.front.box .imgbkg {
    background: black;
    position: relative;
}

.front.box > .imgbkg > .qicon {
    background: var(--qicon);
    height: var(--qicon-height);
    position: absolute;
    right: 16px;
    top: -34px;
    width: var(--qicon-width);
}

.front.box > p {
    background: white;
    border: 5px solid black;
    height: calc(
        var(--title-height) - 5px - 5px - 25px
    ); /* Height excludes the border, top and bottom, and padding top */
    padding: 25px 0 0 25px;
    margin: 0;
}

.title > .ticon {
    background: var(--ticon);
    height: var(--ticon-height);
    position: absolute;
    right: 20px;
    top: 20px;
    width: var(--ticon-width);
}

ul.question li.expand .fulltext {
    max-height: 9999999px;
    transition: max-height 1.5s;
}

ul.question li .fulltext {
    background: var(--yellow);
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: max-height 1.5s;
    width: var(--page-width);
}

.fulltext p {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2.7rem;
    margin: 0;
    padding: 0 85px 55px 70px;
}

.fulltext p:first-child {
    padding-top: 30px;
}
