@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

@font-face {
  font-family: "bebas";
  src: url("./fonts/bebasneue-book-webfont.woff2") format("woff2"),
    url("./fonts/bebasneue-book-webfont.woff") format("woff");
}

:root {
  /* Colours */
  --bkg: #2b2a30;
  --red: #9d0000;
  --green: #00aa51;
  /*Timer dimension*/
  --ring-size: 518px;
  --timer-size: 500px;
  --timer-margin: 9px;
  --timer-fsize: 196px;
  --timer-width: 150px;
  --timer-fcolour: white;
  --btn-fsize: 16px;
}

body {
  background: var(--bkg);
  width: 100vw;
  height: 100vh;
  /*text-align: center;*/
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: auto var(--ring-size) auto;
  grid-template-rows: auto var(--ring-size) auto;
}

#app {
  grid-column: 2;
  grid-row: 2;

  position: relative;

  /*Values picks up from figma*/
  box-shadow: -5px 14px 44px #000000, 5px -16px 50px rgba(255, 255, 255, 0.15);
  border-radius: 50%;
}

.ring {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: var(--ring-size);
  height: var(--ring-size);

  stroke: var(--green);
}

.ring.ending {
  stroke: var(--red);
}

.timer {
  position: relative;
  z-index: 2;

  left: var(--timer-margin);
  top: var(--timer-margin);

  width: var(--timer-size);
  height: var(--timer-size);

  /*Values picks up from figma*/
  background: radial-gradient(
    71.4% 71.4% at 51.7% 28.6%,
    #3a393f 0%,
    #17171a 100%
  );
  box-shadow: inset 0px 0px 114px rgba(0, 0, 0, 0.45);
  border-radius: 50%;

  color: var(--timer-fcolour);

  display: grid;
  /*30px is the gap between the time numbers and start button.*/
  grid-template-rows:
    25% var(--timer-fsize) 30px var(--btn-fsize) auto var(--btn-fsize)
    auto;
  justify-items: center;
  align-items: center;
}

.time {
  grid-row: 2;

  font-family: "bebas";
  font-size: var(--timer-fsize);
  display: grid;
  /*Sizes refer to the width of time numbers.*/
  grid-template-columns: auto 1em 0.2em 1em auto;
}

.time .minutes {
  grid-column: 2;
}

.timer .colon {
  text-align: center;
  width: 0.2em;
  grid-column: 3;
}

.time .seconds {
  grid-column: 4;
}

input[type="text"] {
  border: 0;
  border-bottom: 1px dashed var(--timer-fcolour);
  background: none;
  color: var(--timer-fcolour);
  font-family: "bebas";
  font-size: var(--timer-fsize);
  width: 1em;
  height: calc(var(--timer-fsize) * 0.85);
  text-align: center;
  outline: none;
  padding: 0;
}

input[type="text"]:disabled {
  border-bottom: 0;
}

.start,
.pause {
  grid-row: 4;
}

.timer button.settings {
  grid-row: 6;
  margin-left: 0;
}

.timer button {
  border: none;
  background: none;
  font-family: "Montserrat", sans-serif;
  font-size: var(--btn-fsize);
  color: var(--timer-fcolour);
  letter-spacing: 1em;
  margin-left: 1em; /*Fixing position left shif issue.*/
  cursor: pointer;
  opacity: 1;
}

.timer button:hover {
  opacity: 0.5;
}
.timer button:disabled {
  opacity: 1;
}

.hide {
  display: none;
}
